<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data To Exel</title>
</head>
<body>
  <form action="/api/car/save" method="post">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" required><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" required><br><br>
    <label for="cmodel">Car Model:</label>
    <input type="text" id="cmodel" name="cmodel" required><br><br>
    <label for="ckm">Car KM:</label>
    <input type="text" id="ckm" name="ckm" required><br><br>
    <label for="cyear">Car Year:</label>
    <input type="text" id="cyear" name="cyear" required><br><br>
    <label>Phone Number:</label>
    <input type="text" id="phonenum" name="phonnum" required><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>